body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(194, 194, 172);
}

#myh1{
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(44, 39, 39);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}
#display{
    font-size: 5rem;
    font-weight: bold;
    font-family: monospace;
    color: rgb(24, 22, 22);
    text-shadow: 2px 2px 2px rgb(231, 18, 18);
    margin:25px;
}

#controls button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    margin: 5px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

#startbtn{
    background-color: rgb(50, 47, 255) ;
}
#startbtn:hover{
    background-color: rgb(196, 125, 20);
}

#stopbtn{
    background-color: rgb(163, 93, 35) ;
}
#stopbtn:hover{
    background-color: rgb(196, 20, 35);
}

#resetbtn{
    background-color: green ;
}
#resetbtn:hover{
    background-color: rgb(71, 0, 30);
}

